/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.inline, .resume_block, .show_div {
  display: inline-block;
}

.blue {
  background-color: #2196f3;
}

.red {
  background-color: #f31a4c;
}

.yellow {
  background-color: #f3d338;
}

.color {
  background:linear-gradient(left,#8F04A8 0%,#7CE700 60%,#FFE100 100%);
  background:-webkit-linear-gradient(left,#8F04A8 0%,#7CE700 60%,#FFE100 100%)
}

.resume_block {
  background: white;
  width: 250px;
  height: 250px;
  border: 2px black solid;
  margin: 3px;
}

.border {
  border: 1px black solid;
  padding: 0 5px;
  width: 200px;
}

.ext_sel {
  border: 1px yellow solid;
  padding: 3px;
  background: #b09bff;
}

.hidden {
  visibility: hidden;
}

.visible
{
  visibility: visible;
}

.bg {
  background-color: #0ff;
}

.commun {
  font-size:12px;
  padding:0;
  margin:0;
}

.show_div {
  margin:0 10px;
  padding:0 10px;
  border: 2px #f44336 solid;
}

.addPerson {
  padding:0 10px;
}

a:hover {
  text-decoration:none;
}
