<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="ru" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="ru" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="ru" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="ru" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <!--meta http-equiv="X-UA-Compatible" content="IE=edge"-->

  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="app.css">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
  <!--link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css"-->
  <!--link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css"-->

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
          integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <style>
    html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
  </style>

  <title>HR Helper</title>

</head>

<body class="blue">
  <div class="addPerson" ng-controller="topCtrl">
    <hr/>
    <p class="blue">
    <div class="inline">
      <a href="#new">
        <button type="button" class="btn btn-default" ng-click="person={}">Додати резюме</button>
      </a>
    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <div class="ext_sel inline">
    <div class="top_border inline">
      <label> Професія: </label>
      <div class="select_width inline">
        <select id="proff" class="form-control inline">
          <option class="selProff" value="Front-end">Front-end ({{count_front}})</option>
          <option class="selProff" value="Back-end">Back-end ({{count_back}})</option>
        </select>
      </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <label> Статус резюме:
        <div class="select_width inline">
          <select class="form-control inline" id="status">
            <option class="selStatus" value="New">Нові ({{count_new}})</option>
            <option class="selStatus" value="Consider">В розгляді ({{count_consider}})</option>
            <option class="selStatus" value="Yes">Пройшли співбесіду ({{count_yes}})</option>
            <option class="selStatus" value="Reserve">Резерв ({{count_reserve}})</option>
            <option class="selStatus" value="Refused">Відмовилися ({{count_refused}})</option>
            <option class="selStatus" value="No">Не підходять ({{count_no}})</option>
          </select>
        </div>
      </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="#select">
        <input type="button" class="btn btn-default" ng-click="extSelect()" value="Розширений перегляд"/>
      </a>
    </div>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Всього: {{counter}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" ng-show="searchAllow" ng-model="queryPerson" placeholder="Search..."/>
    <input type="button" class="btn btn-default" value={{searchVal}} ng-click="searchFunc()" />
    &nbsp;&nbsp;&nbsp;

    <div class="dropdown inline" id="sort">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="true">
        СОРТУВАННЯ
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li class="proff"><a href="#/" class="sort" ng-click="sortEl = 'name'">Name</a></li>
        <li class="proff"><a href="#/" class="sort" ng-click="sortEl = 'age'">Age</a></li>
        <li class="proff"><a href="#/" class="sort" ng-click="sortEl = 'skill'">Skill</a></li>
      </ul>
    </div>&nbsp;&nbsp;&nbsp;

    <div class="dropdown inline">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="true">
        НАЛАШТУВАННЯ
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu3">
        <li class="proff red"><a href="#/" class="" ng-click="settings('red')">Red</a></li>
        <li class="proff blue"><a href="#/" class="" ng-click="settings('blue')">Blue</a></li>
        <li class="proff yellow"><a href="#/" class="" ng-click="settings('yellow')">Yellow</a></li>
        <li class="proff color"><a href="#/" class="" ng-click="settings('color')">Cool</a></li>
      </ul>
    </div>

    &nbsp;&nbsp;&nbsp;<a class="hidden" href="#/">НАЛАШТУВАННЯ</a>&nbsp;&nbsp;&nbsp;
    <a href="#/">
      <input type="button" class="btn btn-default" value="ВСІ РЕЗЮМЕ" ng-click="allFunc()"/>
    </a>

    <div class="dropdown inline hidden">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Вибрати
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <li class="proff" ng-repeat="x in persons">name: {{x.name}}</li>
      </ul>
    </div>&nbsp;&nbsp;&nbsp;
    <a class="hidden" href="#delete">DELETE</a>
  </p>
  <hr/>

  <div ng-view></div>

</div>

<script src="app.js"></script>

</body>
</html>
