<div class="addPerson show_div">
    <form class="createForm">
        <div class="form-group inline">
            <label for="">Name</label>
            <input type="text" class="form-control" name="personName" ng-model="newPerson.name"/>
        </div>

        <div class="form-group inline">
            <label for="">Skill</label>
            <input type="text" class="form-control" name="personSkill" ng-model="newPerson.skill"/>
        </div>

        <div class="form-group inline">
            <label for="">Date of Birth</label>
            <input type="text" class="form-control" name="personDate" ng-model="newPerson.dateOfBirth"/>
        </div>

        <div class="form-group inline">
            <label for="">Age</label>
            <input type="text" class="form-control" name="personAge" ng-model="newPerson.age"/>
        </div>

        <div class="form-group inline">
            <label for="">City</label>
            <input type="text" class="form-control" name="personCity" ng-model="newPerson.city"/>
        </div>

        <div class="form-group inline">
            <label for="">Phone</label>
            <input type="text" class="form-control" name="personPhone" ng-model="newPerson.phone"/>
        </div>

        <div class="form-group inline">
            <label for="">Skype</label>
            <input type="text" class="form-control" name="personSkype" ng-model="newPerson.skype"/>
        </div>

        <div class="form-group inline">
            <label for="">Email</label>
            <input type="text" class="form-control" name="personEmail" ng-model="newPerson.mail"/>
        </div>

        <div class="form-group inline">
            <label for="">Salary</label>
            <input type="text" class="form-control" name="personSalary" ng-model="newPerson.salary"/>
        </div>

        <div class="form-group border">
            <h4>Професія</h4>
            <div class="checkbox">
                <label><input type="checkbox" name="proffession" value="Front-end"/>Front-end</label><br/>
                <label><input type="checkbox" name="proffession" value="Back-end"/>Back-end</label><br/>
            </div><hr/>
            <h4>Статус</h4>
            <div class="checkbox">
                <label><input type="checkbox" name="status" value="New"/>Нове</label><br/>
                <label><input type="checkbox" name="status" value="Consider"/>В розгляді</label><br/>
                <label><input type="checkbox" name="status" value="Yes"/>Пройшов співбесіду</label><br/>
                <label><input type="checkbox" name="status" value="Reserve"/>Резерв</label><br/>
                <label><input type="checkbox" name="status" value="Refused"/>Відмовився</label><br/>
                <label><input type="checkbox" name="status" value="No"/>Не підходить</label><br/>
            </div>
        </div>

      <a href="#/">
        <button type="submit" class="btn btn-warning edit" ng-click="newResume()">Create</button>
      </a>
    </form><br/>
</div>