<div class="">
    <div class="person resume_block" ng-repeat="p in persons | filter:queryPerson | orderBy:sortEl">
        <div class="comm_div">

            <p class="text-center commun">Date: date - Mark: mark</p>

        </div>
        <p class="text-center bolder">Name: {{p.name}}</p>
        <p class="text-center">Phone: {{p.phone}}</p>
        <p class="text-center">Skype: {{p.skype}}</p>
        <p class="text-center bolder">Skills: {{p.skill}}</p>
        <p class="text-center">Money: {{p.salary}} uhr</p>
        <p class="text-center">ID: {{p.id}}</p>
        <div class="text-center">
            <p>
                <a href="#show">
                    <input type="button" class="btn btn-primary" ng-click="showResume(p.id)" value="Show"/>
                </a>
                <a href="#edit">
                  <button type="button" class="btn btn-primary" ng-click="preEditResume(p.id)">Edit</button>
                </a>
                <a href="#/">
                  <button type="button" class="btn btn-primary" ng-click="removeResume(p.id)">Delete</button>
                </a>
            </p>
        </div>
    </div>
</div>
