<div class="">
    <div class="person resume_block" ng-repeat="y in persons | filter:queryPerson">
        <div class="comm_div">

            <p class="text-center commun">Date: date - Mark: mark</p>

        </div>
        <p class="text-center bolder">Name: {{y.name}}</p>
        <p class="text-center">Phone: {{y.phone}}</p>
        <p class="text-center">Skype: {{y.skype}}</p>
        <p class="text-center bolder">Skills: {{y.skill}}</p>
        <p class="text-center">Money: {{y.salary}} uhr</p>
        <div class="text-center">
            <p>
              <button type="button" class="btn btn-primary" ng-click="removeResume(y.id)">Delete</button>
            </p>
        </div>
    </div>
</div>