<div class="show_div">
    <p>Name: <span class="bolder">{{person.name}}</span></p>
    <p>Skills: <span class="bolder">{{person.skill}}</span></p>
    <p>Date of Birth: <span>{{person.dateOfBirth}}</span></p>
    <p>Age: <span>{{person.age}}</span></p>
    <p>City: <span>{{person.city}}</span></p>
    <p>Phone: <span>{{person.phone}}</span></p>
    <p>Skype: <span>{{person.skype}}</span></p>
    <p>Email: <span>{{person.email}}</span></p>
    <p>Salary: <span>{{person.salary}} uhr</span></p>
    <p>Proffession: <span>{{person.proffession}}</span></p>
    <p>Status: <span>{{person.status}}</span></p>
<p>
    <a href="#edit">
        <button type="button" class="btn btn-default" ng-click="preEditResume(person.id)">Edit</button>
    </a>
</p>
</div>
